.my-collapsible-header {
    background-color:#e8edf3;
    color: #000000;
    transition: color 1s ease;

}

.my-collapsible-header:hover {
    background-color: #d0d0d0;
    color: #444444;
    transition: background-color 0.2s ease;
}


.fa-close {
    cursor: pointer;
}

