<div>
    <md-content layout-padding>
    <div layout="row" layout-align="center center">
        <h5 style="color: #01579b">STUDENT RECORDS</h5>

    </div>

        <div layout="row" layout-align="center center">

            <md-button class="md-raised md-primary" ng-click="addStudent()">Add new Student</md-button>

        </div>

    <div class="col s4">
        <ul class="collapsible popout col s4 " data-collapsible="accordion">
            <li ng-repeat="student in students">
                <div class="collapsible-header my-collapsible-header waves-effect">
                          <h6 >{{student.name}}</h6>

                </div>

                <div class="collapsible-body">
                    <div layout-gt-sm="row">

                        <p flex style="font-size: small" flex>
                            <span><b><span style="color: darkslategrey">Age</span> :</b>{{student.age}} </span>
                            <br/><br/>
                            <span><b><span style="color: darkslategrey">Subjects</span> : </b> {{student.subjects[0]}} {{student.subjects[1]}} {{student.subjects[2]}} </span>

                        </p>
                        <md-menu>
                            <md-button aria-label="Open interactions menu" class="md-icon-button md-raised md-primary" ng-click="openMenu($mdOpenMenu, $event)"><i class="material-icons">more_vert</i>
                                <md-tooltip>
                                    Click to edit or delete an student
                                </md-tooltip>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="editStudent($event,student)">
                                        <i class="material-icons">mode_edit</i>
                                        Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-divider></md-menu-divider>
                                <md-menu-item>
                                    <md-button ng-click="deleteStudent(student.id)">
                                        Delete
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                       </md-menu>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</md-content>


</div>




